
h1 {
    font-family: "Monoton", cursive;
    color: rgb(255, 107, 255);
    font-size: 350%;
    border-bottom: 13px solid rgb(119, 255, 156);
}
body {
    font-family: "Lusitana", serif;
}

anchor {
    color: rgb(255, 107, 255);
    text-decoration: user-select: none;
}

img {
    height: 60%;
    width: 20%;
}

header {
    background-color: rgb(97, 146, 232);
}
main {
    background-color: rgb(248, 247, 152);
}

footer {
    background-color: rgb(255, 198, 153);
}
